name: Build and Upload Conda Package

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.9"
        channels: conda-forge,bioconda,defaults
        channel-priority: strict
    
    - name: Configure conda
      shell: bash -l {0}
      run: |
        conda config --set solver libmamba
        conda config --set anaconda_upload no

    - name: Install conda-build and anaconda-client
      shell: bash -l {0}
      run: |
        conda install -y conda-build anaconda-client conda-verify
    
    - name: Build conda package
      shell: bash -l {0}
      run: |
        conda build . --no-anaconda-upload --output-folder build emumadz/
    
    - name: Upload to Anaconda
      shell: bash -l {0}
      env:
        ANACONDA_USERNAME: ${{ secrets.ANACONDA_USERNAME }}      
        ANACONDA_PASSWORD: ${{ secrets.ANACONDA_PASSWORD }}
      run: |
        for build in $(find build -name "emumadz*tar.bz2"); do
          anaconda -t $ANACONDA_PASSWORD upload -u $ANACONDA_USERNAME ~/miniconda3/envs/test/conda-bld/noarch/emumadz-*.tar.bz2
        done